.filter {
  @apply text-white p-4 flex flex-col items-center justify-center gap-4;
  > .tabs {
    @apply flex gap-4;
    > button {
      @apply uppercase tracking-widest;
    }
  }
  > .cards {
    @apply grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-3 p-5;
  }
}
